<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<% 
	Response.Cache.SetExpires(DateTime.UtcNow.AddDays(-1));
    Response.Cache.SetValidUntilExpires(false);
    Response.Cache.SetRevalidation(HttpCacheRevalidation.AllCaches);
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    Response.Cache.SetNoStore();
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>
        <asp:ContentPlaceHolder ID="TitleContent" runat="server" />
    </title>
    <link rel="shortcut icon" href="<%: Html.GetThemedContent("Favicon.ico")%>" />
    
   <% Html.RenderPartial("MasterIncludes"); %>
</head>
<body>
    <div id="window">
        <div id="inside">
            <% Html.RenderPartial("AdministrationHeader"); %>
            <div id="fullForm" style="width:100%;">
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            </div>
            
            <div class="kill_height">
                &nbsp;</div>
        </div>
        <!-- inside -->
        <div id="window_btm">
        </div>
        <!--window_btm-->
    </div>
    <!-- window -->
    <% Html.RenderPartial("Footer"); %>
	<% Html.RenderPartial("DateRangePickerMenu"); %>
    <% Html.RenderPartial("~/Views/Shared/_AntiForgeryToken.ascx"); %>
</body>
</html>
