<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<% if (!MonnitSession.CurrentTheme.EnableDashboard && !ConfigData.AppSettings("IsEnterprise").ToBool())
    {
        Response.Cookies.Remove("portaltype");
        Response.Redirect("/");
    }
    
	Response.Cache.SetExpires(DateTime.UtcNow.AddDays(-1));
    Response.Cache.SetValidUntilExpires(false);
    Response.Cache.SetRevalidation(HttpCacheRevalidation.AllCaches);
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    Response.Cache.SetNoStore();

%>
<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <%
        string CacheControl = ConfigData.FindValue("CacheControl");
        if (string.IsNullOrEmpty(CacheControl))
            CacheControl = DateTime.UtcNow.Date.Ticks.ToString();//If nothing else force refresh once a day
    %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <% Html.RenderPartial("Title"); %><asp:ContentPlaceHolder ID="TitleContent" runat="server" />
    </title>
    <%if (MonnitSession.CurrentBinaryStyle("Favicon") != null && MonnitSession.CurrentBinaryStyle("Favicon").Length > 0)
        { %>
    <link rel="shortcut icon" href="/Overview/Favicon" />
    <%}
        else
        { %>
    <link rel="shortcut icon" href="<%: Html.GetThemedContent("Favicon.ico")%>" />
    <%} %>
    <link href="/content/Overview/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/content/Overview/js/popper.min.js"></script>
<%--    <link href="/content/Overview/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">--%>
    <link href="/content/Overview/plugins/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="/content/Overview/css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <!-- Bootstrap Toggle       http://www.bootstraptoggle.com-->
    <link href="/content/Overview/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- Default Theme Style -->
    <link href="<%: Html.GetThemedContent("/Overview/tabs.css")%>" rel="stylesheet" type="text/css" />
    <link href="<%: Html.GetThemedContent("/Overview/css/custom.css")%>?<%:CacheControl %>" rel="stylesheet">
    <link href="<%: Html.GetThemedContent("/Overview/css/cards.css")%>?<%:CacheControl %>" rel="stylesheet">
    <link href="<%: Html.GetThemedContent("/Overview/css/welcome-setup.css")%>?<%:CacheControl %>" rel="stylesheet">
    <link href="<%: Html.GetThemedContent("/Overview/css/ruleStyles.css")%>?<%:CacheControl %>" rel="stylesheet">
    <link href="<%: Html.GetThemedContent("/Overview/css/chooseTask.css")%>?<%:CacheControl %>" rel="stylesheet">
    <link href="<%: Html.GetThemedContent("/Overview/css/location.css")%>?<%:CacheControl %>" rel="stylesheet">
    <link href="<%: Html.GetThemedContent("/Overview/css/homepage.css")%>?<%:CacheControl %>" rel="stylesheet">
    <%string customerTheme = "Default";
        if (MonnitSession.CurrentCustomer != null)
        {
            customerTheme = MonnitSession.CurrentCustomer.Preferences["Site Theme"] == null ? "Default" : MonnitSession.CurrentCustomer.Preferences["Site Theme"];
        }%>
    <link href="/content/Overview/css/adders.css" rel="stylesheet">
    <link href="<%: Html.GetThemedContent("tipTip.css")%>" rel="stylesheet" type="text/css" />
    <%--<script src="/content/Overview/plugins/echarts/dist/echarts.min.js"></script>--%>
    <script src="/content/Overview/plugins/echarts-5.4.3/dist/echarts.min.js"></script>
    <script src="/content/Overview/plugins/jquery/jquery.min.js"></script>
    <!--<script src="/Scripts/jquery-ui-3.6.0.js"></script>-->
    <script src="/Scripts/jqueryPlugins/jquery-ui-1.13.2.min.js"></script>
    

    <script src="/content/Overview/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/content/Overview/plugins/fastclick/lib/fastclick.js"></script>
<%--    <script src="/content/Overview/plugins/Chart.js/dist/Chart.min.js"></script>--%>
    <script src="/content/Overview/plugins/bernii/gauge.js/dist/gauge.min.js"></script>

    <script src="/Scripts/masterOV.js?<%:CacheControl %>"></script>

<%--    <link href="/Content/Overview/css/mobiscroll/mobiscroll4.jquery.min.css" rel="stylesheet">--%>
    <link href="/Content/Overview/css/mobiscroll/mobiscroll5.jquery.min.css" rel="stylesheet">

<%--    <script src="/Content/Overview/js/mobiscroll/mobiscroll4.jquery.min.js"></script>--%>
<%--    <script>
        // Save the mobiscroll 4 object before loading v5
        window.mobiscroll4 = mobiscroll;
        // Save the mobiscroll 4 plugin before loading v5
        $.fn.mobiscroll4 = $.fn.mobiscroll;
    </script>--%>
    <script src="/Content/Overview/js/mobiscroll/mobiscroll5.jquery.min.js"></script>

    <script src="/content/Overview/plugins/iCheck/icheck.min.js"></script>
    <script src="/content/Overview/plugins/skycons/skycons.js"></script>
    <script src="/content/Overview/plugins/Flot/jquery.flot.js"></script>
    <script src="/content/Overview/plugins/Flot/jquery.flot.pie.js"></script>
    <script src="/content/Overview/plugins/Flot/jquery.flot.time.js"></script>
    <script src="/content/Overview/plugins/Flot/jquery.flot.stack.js"></script>
    <script src="/content/Overview/plugins/Flot/jquery.flot.resize.js"></script>
    <script src="/content/Overview/js/flot/jquery.flot.orderBars.js"></script>
    <script src="/content/Overview/js/flot/jquery.flot.spline.js"></script>
    <script src="/content/Overview/js/flot/curvedLines.js"></script>
    <script src="/content/Overview/js/maps/jquery-jvectormap-2.0.3.min.js"></script>
<%--    <script src="/content/Overview/js/moment/moment.min.js"></script>--%>
    <script src="/content/Overview/js/datepicker/daterangepicker.js"></script>
    <link href="<%: Html.GetThemedContent("/Overview/css/skin.css")%>?<%:CacheControl %>" rel="stylesheet">


    <%--<%if (MonnitSession.CurrentStyle("MobileAppName").Length > 0)
        { %>
    <link rel="manifest" href="/pwamanifest">
    <%} %>--%>

    <!-- Custom Theme Style -->
    <%if (MonnitSession.CurrentStyleGroup != null)
        {
            Html.RenderPartial("~/Views/Shared/_CustomAccountThemeStyle.ascx", MonnitSession.CurrentStyleGroup);
        }
        else
        {%>
    <style>
        :root {
            --mainMenu-text-color: #fff;
        }
    </style>
    <%}%>
</head>
<body class="nav-md footer_fixed body">
        <%Html.RenderPartial("ErrorSuccessToasts"); %>
    <div id="modelDemo"></div>
    <div class="container body" id="windowOV" style="margin: 0; width: 100vw;">
        <div class="main_container" style="display: flex; flex-direction: column;">
            <div class="main_topBar">
                <% Html.RenderPartial("TopBar"); %>
            </div>
            <div class="main_container__content">
                <% Html.RenderPartial("MaintenanceBar"); %>
                <div id="adminSideNav" class="main_leftBar" style="padding-left: 0px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 22.541 22.541" href="javascript:void(0)" class="closebtn media_mobile" onclick="closeNav()">
                        <path id="ic_arrow_back_24px" d="M20,11H7.83l5.59-5.59L12,4,4,12l8,8,1.41-1.41L7.83,13H20Z" transform="translate(9.792 -5.635) rotate(40)" fill="#fff" />
                    </svg>

                    <div class="inner_leftBar d-flex justify-content-center justify-content-md-start align-items-center align-items-md-start">
                        <% Html.RenderPartial("LeftBarAdmin"); %>
                        <% Html.RenderPartial("LeftBarAdmin2"); %>
                    </div>
                </div>
                <div class="right_col" role="main">
                    <!-- Locations nav bar -->
                    <%if (MonnitSession.CurrentCustomer != null){ %>
                    <% Html.RenderPartial("LocationsBar"); %>
                    <%} %>

                    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                </div>
                <%--<% Html.RenderPartial("DateRangePickerMenu"); %>--%>
                <% Html.RenderPartial("~/Views/Shared/_AntiForgeryToken.ascx"); %>
                <%--                <div class="clearfix"></div>--%>
            </div>
        </div>
    </div>
    <div id="scrollToTop">
        <a href="#windowOV" style="display:flex;">
            <%=Html.GetThemedSVG("up-arrow") %>
            Top
        </a>
    </div>

    <!-- Alert Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="alertModalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="OKbtn" onclick="$('#confirmAlert').show(); $(this).hide();location.reload();">OK</button>
                    <button class="btn btn-primary" id="confirmAlert" type="button" disabled style="display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="visually-hidden">Loading...</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirm Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="message"></p>
                    <div class="alert alert-danger" style="display: none;" role="alert">
                        <p class="error my-0"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalCancel" onclick="cancelPost();" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="modalSubmit" onclick="confirmPost(); $('#confirmLoad').show(); $(this).hide()" class="btn btn-primary">Ok</button>
                    <button class="btn btn-primary" id="confirmLoad" type="button" disabled style="display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="visually-hidden">Loading...</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
        <!-- Message Modal (No redirect, no reload) -->
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="message" style="white-space:pre-wrap"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

        <%if (MonnitSession.CurrentCustomer != null) { Html.RenderPartial("_AddModal"); } %>
</body>
<script src="/content/Overview/js/custom.min.js"></script>
<script>
    function openNav() {
        document.getElementById("adminSideNav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("adminSideNav").style.width = "0";
    }

</script>
</html>
