<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DBProvider" value="SqlServer" />
    <!-- These values overwrite the DB values so I can test locally 
    <add key="SMTP" value="localhost" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPUser" value="alert@monnit.com" />
    <add key="SMTPPassword" value="password" />
    <add key="SMTPDefaultFrom" value="alert@monnit.com" />
    <add key="SMTPFriendlyName" value="Monnit" />
    <add key="SMTPUseSSL" value="false" />-->
    <!--SMTPReturnPath will add a return path header into the email-->
    <!--<add key="SMTPReturnPath" value="Notification@email.SensorsGateway.com" />-->
    <!--SMTPBccUser will route all message to an bcc user-->
    <!--<add key="SMTPBccUser" value="brandon@redefineimpossible.com" />-->
    <!-- <add key="HardTheme" value="iopeninnovations" />  -->
    <add key="HardTheme" value="Default" />
    <!--<add key="HardTheme" value="Hadli" />-->
    <!--<add key="CheckTheme" value="true"/>-->
    <!-- <add key="HardTheme" value="MorganStanley" /> -->
    <!--<add key="HardTheme" value="Canteen"/>-->
    <add key="Https" value="false" />
    <add key="EnableDebugLog" value="True" />
    <add key="DisableTopBarNotiRefresh" value="True" />
    <!--
    <add key="AdminAccountID" value="1" />
    <add key="DefaultCSNetID" value="1" />
    <add key="NewAccountNotificationEmail" value="brandony@monnit.com" />
    -->
    <!--
    <add key="AuthorizeID" value="4Tqsb69dJu" />
    <add key="AuthorizeKey" value="89AH2gSe995s4P8u" />
    <add key="AuthorizeTestMode" value="true" />
    -->
    <add key="PWAManfiest" value="True" />
    <add key="SqlCommandTimeOut" value="0" />
    <add key="APICallRateLimitInSeconds" value="90" />
    <!-- CASSANDRA SETTINGS -->
    <!-- <add key="CassandraWriter" value="False" /> -->
    <!-- <add key="CassandraReader" value="False" /> -->
    <!-- <add key="CassandraEnableGatewayMessages" value="True" /> -->
    <!-- <add key="CassandraEnableDataMessages" value="False" /> -->
    <!-- <add key="CassandraFilePath" value="C:\iMonnitServerSupportFiles\secure_connect_monnitmessages.zip" /> -->
    <!-- <add key="CassandraUser" value="FAFmfdSgWLeIknIKvBSvbqZs" /> -->
    <!-- <add key="CassandraPass" value="GLF3XHoM34rrRn7v.M54l+WojjvTE4-50zKwrZ2Ivn7QUHu4zZqGDFnHeHAZNHI7tACHKx4foniiBzOdfxQlYPEDI89BvT6RGSgZHcze.LG6ImXR0cWPIB,UlNfHdSHX" /> -->
    <!-- <add key="KeySpace" value="Staging" /> -->
    <!-- <add key="CassandraKeySpace" value="Staging" /> -->
    <!-- <add key="CassandraEnableInboundPackets" value="True" /> -->
    <!-- <add key="CassandraEnableOutboundPackets" value="True" /> -->
    <!-- <add key="MEA_API_Location" value="http://localhost:56996/" /> -->
  </appSettings>
  <connectionStrings configSource="connections.config" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="Error.html"></customErrors>
    <globalization culture="en-US" uiCulture="en" />
    <sessionState timeout="60" />
    <httpRuntime maxRequestLength="20000" targetFramework="4.8" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOnOV" timeout="2880" />
    </authentication>
    <!-- pageParserFilterType, pageBaseType, userControlBaseType  Allow for models to be defined in Theme Views-->
    <pages pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="iMonnit" />
        <add namespace="iMonnit.Models" />
        <add namespace="Monnit" />
        <add namespace="RedefineImpossible" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- <system.codedom> -->
  <!-- <compilers> -->
  <!-- <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:8.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /> -->
  <!-- <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /> -->
  <!-- </compilers> -->
  <!-- </system.codedom> -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
<!--ProjectGuid: FE8B87D0-60CC-4EAA-8541-D3A461A27D80-->