/*    .testingHistoryRowDisplayData {
        max-width: 12rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }*/

    .testingHistoryRow {
        border-bottom: 1px solid #dee2e6;
        /*font-size: <%= MonnitSession.TestingToolSession.FontSize %>;*/
        font-size: x-small;

        background-color: inherit;
        transition: 5s linear;
        transition-property: background-color, border-bottom;
    }

    .testingHistoryRow.testingHistoryRowFade {
        /*transition: 5s linear;
        transition-property: background-color;*/
        border-bottom: 1px solid #000;
        background-color: rgba(148,195,235,0.5); /*rgba(123, 333, 111, 0.4);*/
    }

    .testingHistoryRow svg {
        display: none;
    }

    .testingHistoryHeader div {
         font-weight: 800;
         text-decoration-line: underline;
    }

    .noDataMessagesRow {
        text-align:center; 
        font-weight:bold; 
        color: red;
    }