/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
/*:root {
    --theme-btn-color: #37BC9B;
    --theme-btn-color-hover: #1a896e;
    --theme-btn-color-2: #1cd9f3;
    --theme-btn-color-2-hover: #1d9ab1;
    --main-theme-color: #2C3745;
}*/

$main-theme-color: #0067ab;
$main-theme-color-light: #2699FB;
$main-theme-color-dark: #054c7b;
$secondary-theme-color: #0067ab;
$theme-btn-color: #0067ab;
$theme-btn-color-hover: #054c7b;
$theme-btn-color-2: #2699FB;
$theme-btn-color-2-hover: #3b85c3;
$theme-btn-color-3: #9E66FE;
$theme-btn-color-3-hover: #885AD6;
$theme-nav-btn-color: #2c3745;
$theme-nav-btn-color-mobile: #000;
$main-icon-theme-color: #333;


html {
    position: inherit;
}
body {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: white; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.main_container {
    background-color: $main-theme-color;
}
a:hover {
	text-decoration: underline;
}
.icon.inactive, a.inactive {
	color: #999;
}

.icon.active, a.active {
	color: #007d00;
} 

#logo {
	position:relative;
	float: left;
	width: 600px;
	height: 70px;
}

#tag
{
    font-weight: regular;
	float: left;
    padding: 46px 0 0 0;
    font-size: 18px;
}

#header
{
	height: 120px;
    margin-bottom: 0px;
    padding: 0;
}

#maintNotification {
    max-height: 109px; 
	overflow: hidden;
	color:#FFF;
    padding:6px 15px 6px 15px;
}
#maintNotification p {
    margin:0px;
}
#maintNotification a:link {
    color:#FFF;
	text-decoration: underline;
}
#maintNotification a:hover {
    color:#eee;
	text-decoration: underline;
}
#maintNotification a:visited {
    color:#eee;
	text-decoration: underline;
}

/* HEADINGS   
----------------------------------------------------------*/
h1
{
    font-size: 130%;
    padding-bottom: 0;
    margin-bottom: 0;
	font-weight: bold;
}
h2
{
    font-size: 120%;
	padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/**********************************************
 *	Flyout Sidebar Styles
 **********************************************/

#menucontainer
{
	height: 30px;
	padding: 0px;
	font-size: 14px;
	clear: both;
}

#top_nav {
	float: left;
	position:absolute;
	margin: -6px 0px 0px 18px;
	font-size: 14px;
	display:inline;
}

#listoptions {
	background: url(images/fade.png); 
	border:none; 
	text-align:center;
}

.panel_top {
	padding: 15px 0px 0px 20px;
	height: 38px;
	float: left;
}

.sensor_list {
	font-size: 20px;
	float: left;
	display: inline;
}

.gateway_list {
	font-size: 20px;
	float: left;
	display: inline;
}

.menu {font-size:12px; position: relative; float: right;}
.menu ul li a, .menu ul li a:visited {display:block; text-decoration:none; width:120px; height:31px; border:1px solid #eee; border-width:1px 1px 0 0; line-height:29px; font-size:12px; padding-left:10px;  color:#2d4780; border:none; text-align:center;  text-shadow: none;}
.menu ul {padding:0; margin:0;list-style-type: none;}
.menu ul li {float:left; position:relative; z-index:100;}
.menu ul li ul {display: none;}

.menu table {border-collapse:collapse; border:0; margin:0; padding:0;}
 
.menu ul li:hover a,
.menu ul li a:hover {color:#9a9a9a;}

.menu ul li:hover ul,
.menu ul li a:hover ul {display:block; position:absolute; top:0; left:121px; width:565px; background: transparent;}

.menu ul li:hover ul li,
.menu ul li a:hover ul li {float:left;}

.menu ul li:hover ul li a,
.menu ul li a:hover ul li a {display:block; color:#000; width:120px; float:left; background:#ddd url(images/drop.gif) bottom right no-repeat; }

.menu ul li:hover ul li a.sub,
.menu ul li a:hover ul li a.sub {background:#ddd url(images/drop.gif) bottom right no-repeat; color:#000;}

.menu ul li:hover ul li a:hover,
.menu ul li a:hover ul li a:hover {background:#ddd url(images/drop.gif) bottom right no-repeat; color:#000;}

.menu ul li:hover ul li ul,
.menu ul li a:hover ul li a ul {visibility:hidden; position:absolute; width:120px;}

.menu ul li:hover ul li:hover ul,
.menu ul li a:hover ul li a:hover ul {visibility:visible; left:-1px; top:31px; color:#000;}

.menu ul li:hover ul li:hover ul li a,
.menu ul li a:hover ul li a:hover ul li a {display:block; width:120px; background:#eaecf2; color:#000; border-left:1px solid #eee;}

.menu ul li:hover ul li:hover ul li a:hover,
.menu ul li a:hover ul li a:hover ul li a:hover {background:#9a9a9a; color:#fff;}


a {
	font-weight: normal;
} 

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

ul.listNoBul 
{
    list-style-type: none;
    line-height: 1.9em;
}

.right {
	text-align: right;
	padding-right: 10px;
}

.center {
	text-align: center;
}

/* Structure   
----------------------------------------------------------*/

#window {
	width: 1002px;
	margin: 0 auto;
	margin-top: 0px;
	background-image: url(images/1002bg.png);
	background-repeat: repeat-y;
	background-position: left top;
}

#window_btm {
	width: 1002px;
	margin: 0 auto;
	background-color: transparent;
	height: 0px;
}

#inside {
	width: 970px;
	margin: 0 auto;
	text-align: left;
	background-color: #fff;
}

#page {
	width: 970px;
	margin: 0px 30px 0px 30px;
	text-align: left;
	background-color: #fff;
}


/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#main
{
    padding: 30px 30px 30px 30px;
    background-color: #fff;
    /*margin-bottom: 30px;*/
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {

}
#menu {
    background: transparent;
    background-color: none;
}
ul#menu li
{
	display: inline;
    list-style: none;
	line-height: 30px;

}

ul#menu li#greeting
{
	
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

ul#menu li a
{
	padding: 7px 30px 6px 10px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
}

ul#menu li a:hover
{
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* Footer   
----------------------------------------------------------*/

#footer {
	width: 1002px;
	margin: 0px auto;
	text-align: left;
	height: 70px;
	padding-top: 22px;
	background-color: transparent;
	background-image: url(images/1002btm.png);
	background-repeat:no-repeat;
	background-position: left top;
}

.ie6 #brand {
	float: right;
	text-align: right;
	width: 320px;
	padding: 0 0 3px 0;
	margin: 0px 15px 0px 0px;
	font-size: 11px;
	color: #484848;
}

#brand {
	float: right;
	text-align: right;
	width: 320px;
	margin: -22px 34px 0px 0px;
	font-size: 11px;
	color: #484848;
}

/* Footer Navigation   
----------------------------------------------------------*/

.ie6 #btm_nav {
 	float: left;
	width: 650px;
	padding: 0 0 0 0;
	padding: 0 0 3px 0;
	margin: 0px 0px 0px 0px;
}

#btm_nav {
 	float: left;
	width: 650px;
	padding: 0 0 0 0;
	margin: -14px 0px 0px 0px;
}

#btm_nav li {
	padding: 0 0 5px 0;
	margin: 0 25px 0 0;
	list-style-type: none;
	float: left;
}

#btm_nav {
 	font-size: 12px;
}

#btm_nav a:visited {
	text-decoration: none;
} 
#btm_nav a:link {
	text-decoration: none;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 2px 4px;
}




#ui-datepicker-div { display: none; }

.daterange {
    min-width: 144px;
	font-size: 12px;
	padding:3px;
	margin-top:-5px;
	/*margin-bottom:10px;*/
	border:1px solid #ccc;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border linear .2s,box-shadow linear .2s;
	-moz-transition:border linear .2s,box-shadow linear .2s;
	-ms-transition:border linear .2s,box-shadow linear .2s;
	-o-transition:border linear .2s,box-shadow linear .2s;
	transition:border linear .2s,box-shadow linear .2s;
}

select {
    width: 240px;
}

.activeTime select, #ActiveStartTimeHour, #ActiveStartTimeMinute, #ActiveStartTimeAM, 
#ActiveEndTimeHour, #ActiveEndTimeMinute, #ActiveEndTimeAM, 
#StartTimeHour, #StartTimeMinute, #StartTimeAM, #EndTimeHour, #EndTimeMinute, #EndTimeAM {
    width: 60px;
}

div.leftNav
{
    padding-bottom:10px;
}

.quick-search {
    float:left;
}

#applicationFilter, #gatewayTypeFilter, #classFilter {
    float:left;
    margin-left:30px;
}

#statusFilter {
    float:left;
    margin-left:30px;
}


/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 0px #f2f2f2;
  border-collapse: collapse;
}

table td 
{
  padding: 5px 5px 5px 4px;   
  border: solid 0px #f2f2f2;
}

table td.alt, table tr.alt
{
    background-color: #fbfbfb;
    border-bottom:solid 1px #e2e2e2;
    border-top:solid 1px #e2e2e2;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #fbfbfb; 
  border-bottom: solid 1px #e2e2e2;   
}

table.registerTable td, table.registerTable.th{
    padding: 0px 0px 0px 5px   
}


/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

.required {
	color: red;
}

.requiredtxt {
	margin-left: 20px;
	padding-top: 0px;
	width: 300px;
	font-size: 14px;
	overflow: hidden;
}

#title
{
    float: left;
	display:block;
    float:left;
    text-align:left;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-error-custom {
	color: red;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* input[type="text"], input[type="password"] {
	width: 240px;
}

select {
	width: 248px;
}

.activeTime input[type="text"] {
	width: 140px;
}

#networkSelect {
	width: 200px;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label {
	width: 250px;
	float: left;
	clear:both;
	margin: 0.5em 0;
}

.display-label-small,
.editor-label-small {
	width: 200px;
	float: left;
	clear:both;
	margin: 0.5em 0;
}

.display-field,
.editor-field {
	float:left;	
}

.editor-error {
	margin-left: 250px;
	margin-top: -0.3em;
	clear:both;
}
.editor-error-small {
	margin-left: 200px;
	clear:both;
}


.editor-help {
	margin-bottom: 1em;
	font-weight: bold;
}
.editor-help-small {
	margin-left: 200px;
	clear:both;
}

.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.4em 0;
}


.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/*Begin Monnit CSS*/

img {
	border: 0px;
}

sup {
	font-size: xx-small;
	vertical-align: top;
}

/**********************************************

#bluelink a {
	color: #2d4780;
	text-decoration: none;
} 

#bluelink a:visited {
	color: #2d4780;
	text-decoration: none;
} 
#bluelink a:link {
	color: #2d4780;
	text-decoration: none;
}
#bluelink a:hover {
	color: #c80202;
	text-decoration: underline;
}

.bluetxt {
	color: #2d4780;
}

.bluechart {
	color: #2d4780;
	background: #eaecf2;
}

.redtxt {
	color: #c80202;
}

.redchart {
	color: #c80202;
	background: #f9e5e5;
}
 **********************************************/

/**********************************************
 *	Structural Styles
 **********************************************/
 
.ie6 #social_nav {
	float: right;
	text-align: right;
	height: 18px;
	width: 200px;
	vertical-align: top;
	color: #fff;
	margin: 10px 0px 0 0;
}

#social_nav {
	float: right;
	text-align: right;
	height: 18px;
	width: 200px;
	vertical-align: top;
	color: #fff;
	margin: 10px 0px 0 0;
}

#social_nav a img {
	filter:alpha(opacity=60); -moz-opacity:0.60; opacity:0.60; -khtml-opacity:0.60;
}

#social_nav a:hover img {
	 filter:alpha(opacity=99); -moz-opacity:0.99; opacity:0.99; -khtml-opacity:0.99;
}

/**********************************************
 *	Landing Page Styles
**********************************************/
 
#toppanels {
	width: 960px;
	padding: 10px 0 0 0;
	margin-left: 5px;
	background-image: url(images/2panel.jpg);
	background-repeat:no-repeat;
	background-position: left top;
}

#panels {
	width: 960px;
	height: 270px;
	padding: 10px 0 0 0;
	margin-left: 4px;
	background-image: url(images/3panel.jpg);
	background-repeat:no-repeat;
	background-position: left top;
}

.panel_title {
	font-size: 20px;
	padding: 15px 0px 0px 20px;
	height: 38px;
	float: left;
	/*overflow: hidden;*/
	display: inline;
}

.panel_title a{
	display: block;
}
.panel_title a:hover {
	display: block;
	text-decoration:none;
}

.panel_title_edit {
	font-size: 10px;
	padding: 24px 0px 0px 20px;
	height: 29px;
	float: left;
	overflow: hidden;
	display: inline;
}

.panel_content {
    padding-left: 15px;
}

.panel_one {
	margin-top: 0px;
	float: left;
	width: 610px;
	overflow: hidden;
	display: inline;
}

.panel_three {
	margin-top: -7px;
	float: left;
	width: 295px;
	overflow: hidden;
	display: inline;
}

 


/*news styles */

.news_item {
	margin-bottom: 11px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
}

.news_title {
	font-size: 11px;
}

.news_title a{
	font-weight: bold;
}

.news_description {
	font-size: 11px;
}

/**********************************************
 *	Misc Styles
 **********************************************/

.sensorReadingDisplay {
    font-size:25px; 
    color:#2d4780;
}

.kill_height {
 	clear:both;
	font-size:1px; 
	height:1px; 
	line-height:1px;
 }

#Main
{
    margin-right:10px;
}

#MainLoading
{
    display:none;
}

#MainRefresh
{
    float:right;
    margin-top:-20px;
    margin-right:25px;
}

#MainRefresh a
{
    display: inline-block;
    vertical-align: bottom;
}

.logon
{
    margin:30px;
}

.floatRight
{
    float:right;
}

.floatLeft
{
    float:left;
}

.clear
{
    clear:both;
}

.line
{
    border-bottom:solid 1px black;
    height:1px;
}

.title2 {
	font-size: 16px;
	display: inline;
}

.simple_border 
{
    border:solid 1px #CCCCCC
}

.applicationIcon
{
    width:150px;
}

.helpIcon
{
    width:16px;
}

.daterange
{
    float:right;
}

.daterangeDiv
{
    display:none; 
    position:fixed; 
    top:145px; 
    width:750px; 
    height:305px; 
    border:solid 1px black;
    z-index:1005;/*above jquery dialog that calls it*/
}

.cartSummary
{
    font-size:16px;
}

.cartItem
{
    border-bottom:solid 1px #E2E2E2;
}

.small
{
    font-size:0.9em;
    color:#666;
}

.ui-slider {
     border: 1px solid #BBB;
}

.ui-slider-range {
    background-color: #1FA53A
}

.ui-tabs .ui-tabs-panel {
    padding: 0px !important;
}

#scrollToTop a
{
    /* display: block before hiding */
    display: block;
    display: none;
  
    /* link is above all other elements */
    z-index: 999; 
  
    /* link doesn't hide text behind it */
    opacity: .7;
  
    /* link stays at same place on page */
    position: fixed;
  
    /* link goes at the bottom of the page */
    top: 100%;
    margin-top: -40px; /* = height + preferred bottom margin */
  
    /* link is centered */
    /*left: 50%;
    margin-left: -160px;*/ /* = half of width */
    right:0px;
  
    /* round the corners (to your preference) */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  
    /* make it big and easy to see (size, style to preferences) */
    width: 125px;
    line-height: 20px;
    height: 20px;
    padding: 10px;
    background-color: #000;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.clearWiFi {
    float: right;
    margin-top: -37px;
}

/* --------------  New Elements --------------- */

.glanceBox {
	margin:10px 15px 0px 15px;
	border: #d9d9d9 1px solid;
	border-radius: 8px;	
	-webkit-border-radius: 8px;	
	-moz-border-radius: 8px; 
	box-shadow: 0 0 10px #d9d9d9; 
	-webkit-box-shadow: 0 0 10px #d9d9d9; 
	-moz-box-shadow: 0 0 10px #d9d9d9; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#fff)); /* for webkit browsers */
	background: -moz-linear-gradient(left,  #fafafa,  #fff); /* for firefox 3.6+ */
}

.glanceL .sensor, .glanceL .gateway {
	overflow:hidden;
	height:78px;
	width:122px;
	position:relative;
}

.glanceL .appIcon, .glanceL .gatewayIcon {
    position:absolute;
	top:0px;
	left:0px;
	z-index:0;
	height:70px;
	padding-left:4px;
}

.glanceL .statusIcon {
    position:absolute;
	top:44px;
	left:0px;
	z-index:0;
	height:28px;
}

.glanceL .pauseIcon {
    height: 14px;
}

.glanceL .dirtyIcon {
    position: relative;
    top: 58px;
    height: 14px;
}

.glanceL .battIcon img {
	height:70px;
}

.glanceL .sigIcon img {
	height:70px;
}

.glanceM .sensor, .glanceM .gateway {
	overflow:hidden;
	height:58px;
	width:92px;
	position:relative;
}

.glanceM .appIcon, .glanceM .gatewayIcon {
    position:absolute;
	top:0px;
	left:0px;
	z-index:0;
	height:50px;
	padding-left:4px;
}

.glanceM .statusIcon {
    position:absolute;
	top:28px;
	left:0px;
	/*z-index:10;*/
	height:24px;
}

.glanceM .pauseIcon {
    height: 12px;
}

.glanceM .dirtyIcon {
    position: relative;
    top: 40px;
    height: 12px;
}

.glanceM .battIcon img {
	height:50px;
}

.glanceM .sigIcon img {
	height:50px;
}

.glanceS .sensor, .glanceS .gateway {
	overflow:hidden;
	height:34px;
	width:52px;
	position:relative;
}

.glanceS .appIcon, .glanceS .gatewayIcon {
    position:absolute;
	top:0px;
	left:0px;
	z-index:0;
	height:30px;
	padding-left:4px;
}

.glanceS .statusIcon, .statusIcon {
    position:absolute;
	top:14px;
	left:0px;
	/*z-index:10;*/
	height:18px;
}

.glanceS .pauseIcon {
    height: 9px;
}

.glanceS .dirtyIcon {
    position: relative;
    top: 21px;
    height: 9px;
}

.manage.pauseIcon {
    position: relative;
    height: 11px;
    top: -11px;
    margin-right: -16px;
}
.manage.dirtyIcon {
    position: relative;
    height: 11px;
    top: 0px;
    margin-right: -16px;
}

.glanceS .battIcon img {
	height:30px;
}

.glanceS .sigIcon img {
	height:30px;
}

.overviewText {
	font-size: 14px;
}

.overviewReading {
	font-size: 14px; 
	font-weight: normal;
}

.glanceS .overviewText {
	font-size: 12px;
}

.glanceS .overviewReading {
	font-size: 12px; 
	font-weight: normal;
}

/*----------- Sections -------- */

.thirdSection {
	float: left;
	width: 290px;
	margin: 30px 10px 20px 20px;
	background: #fff;
	color: #777;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0px 0px 8px 2px #d1d1d1;
	-moz-box-shadow: 0px 0px 8px 2px #d1d1d1;
	box-shadow: 0px 0px 8px 2px #d1d1d1; 
}

.thirdSectionInside {
	float: left;
	width: 270px;
	margin: 10px;
	background: #fff;
}

.two-thirdSection {
	float: left;
	width: 620px;
	margin: 30px 20px 20px 5px;
	background: #fff;
	color: #777;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0px 0px 8px 2px #d1d1d1;
	-moz-box-shadow: 0px 0px 8px 2px #d1d1d1;
	box-shadow: 0px 0px 8px 2px #d1d1d1; 
}

.two-thirdSectionInside {
	float: left;
	width: 610px;
	margin: 10px;
	background: #fff;
}

.sectionBlock {
	float: left;
	width: 100%;
	background: #fff;
	color: #777;
	-webkit-box-shadow: 0px 0px 8px 2px #d1d1d1;
	-moz-box-shadow: 0px 0px 8px 2px #d1d1d1;
	box-shadow: 0px 0px 8px 2px #d1d1d1; 
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px; 
	overflow: hidden;
}

.blockSectionTitle {
	padding: 5px 0px 5px 20px;
	border-bottom: 1px solid #ddd;
}

.blockTitle {
	float: left;
	padding-top: 4px;
	padding-bottom: 10px;
	font-size: 16px;
	text-shadow: -1px -1px #ddd;
	line-height: 20px;
}

.sectionTitle {
	line-height: 16px;
	font-size: 14px;
	font-weight: bold;
}

/*----------- Notifications -------- */

#iconLegend img {
	max-height: 30px;
}

#alertList img {
	max-height:24px;
}

#alertList .tabContainer .refreshPic {
	max-height: 12px;
}

#alertList .tabContainer .deviceList img {
	max-height: 30px;
}


#recipientsTable img {
	max-height: 28px;
}

.trashIcon {
	max-height: 25px;
}

.deviceIcon {
	max-height: 25px;
}

#alertList .tabContainer input {
	margin: 0px;
}

#addRecipients {
	margin-top: 150px;
}

.tableLeft {
	border: solid 1px #CCC; 
	height: 351px;
	width: 100%;
}

.tableRight {
	border: solid 1px #CCC; 
	height: 351px;
	width: 100%;
}

.deviceSearch {
	width: 100%; 
}

.searchInput {
	float: left;
}

.searchInput input {
	width: 240px;
	max-height: 26px;
}

.searchButton {
	float: right;
	position: relative;
	margin-left: 5px;
}

.searchButton img {
	max-height: 26px;
	min-height: 26px;
}

#recipientsTable {
	padding-left: 10px;
}

.recipientList {
	padding: 10px;
}

#controlTimer {
	float: left;
	margin-left: 5px;
}

.timeSec {
	color: #999;
	font-size: 9px;
	margin-top: -2px;
	text-align: center;
}

.shortTimer {
	height: 14px;
	text-align: center;
	padding: 2px;
}

.left {
	float: left;
}

hr.recipientDivider {
	border: 0;
	height: 1px;
	background-color: #CCC;
}

td.notiLT {
	width: 36%;
	padding: 0px;
}

td.notiCT {
	width: 8%;
	padding: 0px;
}

td.notiRT {
	width: 56%;
	padding: 0px;
}

.addbutton img, #alertList .tabContainer .deviceList .addbutton img {
	max-width: 24px;
	max-height: 24px;
}

.addbuttonDN img {
	max-width: 24px;
	max-height: 24px;
	/* transform:rotate(90deg);
	/* -ms-transform:rotate(90deg); /* IE 9 */
	/* -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

.addbuttonDN, a.addbuttonDN {
	padding: 4px 22px 2px 22px; 
	font-size: 30px;
}

.alertButtons {
	margin: 1em 1em 2em 1.3em;
	height: 120px;
}

.alertButtons img {
	float: left;
	margin: 1em;
	height: 110px;
}

.inactiveAB {
	-webkit-filter: drop-shadow(0px 1px 5px #ccc);
    filter: drop-shadow(0px 1px 5px #ccc);
}

.activeAB {
	-webkit-filter: drop-shadow(0px 1px 5px #2d4780);
    filter: drop-shadow(0px 1px 5px #2d4780);
}

.alertButtons img:hover {
	-webkit-filter: drop-shadow(0px 1px 5px #2d4780);
    filter: drop-shadow(0px 1px 5px #2d4780);
}

.advancedNoti {
	margin: 2em;
}

#assignedNotificationTable img {
	max-height: 30px;
}

.notificationHistoryTable img {
	max-height: 22px;
}

.notiTopBox { 
	margin: 2em 2em 0em 2em; 
	border: #CCC 1px solid; 
}

.notiTopBox img {
	max-height: 30px;
}

/*.notiExistBox {
	margin: 2em; 
	border: #CCC 1px solid; 
	padding: 0px;
}

.notiExistBoxInside {
	margin: 1em 2em 1em 2em; 
	width: 94%;
}


.viewNotificationDetails img {
	 height:36px;
}

#recipientsTable img, #deviceRecipientsTable img {
	height:36px;
}

#addRecipients img {
	height:24px;
}
*/

.credBox {
	min-width: 40px;
	margin: 4px 10px 4px 10px;
	padding: 3px 4px 3px 4px;
	font-size: 18px;
	text-decoration:none;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	text-shadow: .5px 2px 0 rgba(0, 0, 0, 0.25);
	/*box-shadow: .5px .5px 5px rgba(0, 0, 0, 0.45);*/
}

.credText {
	font-size: 14px;
	margin-bottom: 5px;
}

.credAssign {
	clear: both;
	vertical-align: middle;
	float: right; 
	text-align: right;   
	padding-top: 20px;
}

.credAssign input {  
	width: 90px;
}


.credDesc {
	float: right;
	margin: 30px 20px 0 0;
}

/* ----- Notes ------*/

.note .myhover {
	/*background:rgba(0,0,0,0.2);*/
	display: none; 
	position:absolute; 
	padding: 5px; top:0px; left:0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

.note .myhover div {
	/*background:rgba(0,0,0,0.8);*/
	color:white; 
	font-weight:bold;
	margin: 0 auto;
	width: 100px;
	text-align:center;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

.noteIcon {
	float: left;
	margin-left: 10px;
	height: 16px;
}

.noteText {
	float:left;
	max-width: 350px;
	overflow: hidden;
	padding-left: 5px;
}

/* ----- Date Range Picker ------*/

.daterangePicker {
	float: right;
	margin: -2px 0px 0px 0px;
}

.daterangePicker input {
	width:90px;
	padding:3px;
}

.daterangePicker span {
	padding:3px 10px 0px 20px;
}

.daterangeRefresh {
	display:inline-block;
	margin:-5px 3px 0px 3px;
	height: 22px;
	vertical-align: middle;
	border: solid 2px transparent;
}

.daterangePickerMenu {
	width: 362px;
	position: absolute;
	margin-top: -3px;
	background-color: #eaecf2;
	padding: 9px;
	border: 1px solid #ddd;
	border-top-width: 0px;
    z-index:1;
}

.datepicker.history {
	float:left;
}

input[type="text"].editField  {
    
  /*  border: 1px solid black;*/
	
}

input[type="text"].editFieldLarge  { 
	width: 250px;
}

input[type="text"].editFieldMedium {
    width:  97px;
}

input[type="text"].editFieldSmall  {
    width: 45px;
}

select.editField {
    
  /*  border: 1px solid black;*/
	
}

select.editFieldLarge { 
	width: 250px;
}

select.editFieldMedium {
    width:  183px;
}

select.editFieldSmall {
    width: 120px;
}

.tr-textbox {
	background-color: #eaecf2;
	color: #2d4780;
	padding: 10px;
	width: 350px;
	font-size: 14px;
	margin: 7px 0px 7px 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
}

.Column1 {
    width:50%;
    float:left;
}

.Column2 {
    width:50%;
    float:right;
}

#calendar th {
	text-align:center;
}

#calendar td {
	background-clip: padding-box; /* this has been added */
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
    border: 1.5px solid #fff;
	text-align:center;
	width: 8.33%;
	margin: 3px 2px 2px 2px;
}​

table td.day {
	text-align:center;
	background: #a7d99f;
	color: #333;
}

table td.highlighted {
	background: #ebebeb;
	color: #333;
}

.accountMessageArea {
	padding: 6px 20px;
	line-height: 20px;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	text-align: center;
	background: #ffcaca;
}

.accountMessageArea, .accountMessageArea a:link {
	color:#c80202;
	font-weight:bold;
}

.accountMessage, a.accountMessage {
	background: #efefef; /* Old browsers */
	border: 1px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	line-height: 16px;
	font-size: 16px;
	padding: 5px 12px 5px 12px;
	color: #fff;
	float: right;
	margin: 10px;
	text-shadow: .5px 2px 0 rgba(0, 0, 0, 0.25);
	box-shadow: .5px .5px 5px rgba(0, 0, 0, 0.45);
	cursor: pointer;
    text-decoration:none;
	text-align:center;
	width: 90%;
}

.notiArea {
	background-color: #ffedd4;
	color: #f48a0c;
}

.deviceOffline .battIcon img, .deviceOffline .sigIcon img {
	opacity: 0.2;
	filter: alpha(opacity=20); /* For IE8 and earlier */
}

.deviceOffline .overviewReading, .deviceOffline .overviewDate {
	color: #ccc;
}
/*.login-form {
    border: 0px;
    width: 300px;
    height: 100%;
    margin-top: 0 auto;
    position: absolute;
    left: 20%;
    top: 50%;
    margin-left: -150px;
    margin-top: -225px;
    padding: 0px;
}*/



.login_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.login_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login_inputs {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 300px;
}

.login_input {
    padding-left: 10px;
    border-radius: 8px;
    border: none;
    border: 1px solid #b4b4b4;
}

.login_image {
    background-image: linear-gradient(to top right, $main-theme-color-light, $main-theme-color, $main-theme-color-dark);
    /*background-image: linear-gradient(to right, #eeeeee,  #bbbbbb);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_def {
    width: 308px;
    height: 37px;
}

.login_button {
    border-radius: 8px;
    border: none;
    background-color: $main-theme-color;
    color: white;
    font-weight: 600;
    font-size: 18px;
}


.login_create_tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.login_create_login {
    margin: 0px 10px;
}

.login_create_create {
    margin: 0px 10px;
}
.network_btn_selected {
    background-color: $theme-btn-color-2;
    color: white;
    width: 100px;
}

@media only screen and (max-width: 600px) {
    .login_form {
        width: 100vw;
    }
}

@media only screen and (max-width: 1050px) {
    .login_form {
        width: 100vw;
    }
}
@media only screen and (max-width: 569px) {
    .login_button {
        max-width: 290px;
    }
    #loginFormInside {
        width: 100%;
    }

} 

.login_create_tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

.login_tab {
    background: none;
    color: #222;
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
    font-size: 18px;
}

.login_tab.current {
    color: $main-theme-color;
    border-bottom: 1px solid $main-theme-color;
}
.login_tab.current a {
    color: $main-theme-color;
}
.tab-content {
    display: none;
}

    .tab-content.current {
        display: inherit;
    }

.login_logo_container {
    padding-bottom: 70px;
	text-align: center;
}
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input:focus {
    background: white;
}
input:focus, input:active {
    outline: none;
    background: transparent;
    /*color: transparent;*/
}
login_input:focus {
    outline: none;
    background: white;
}
.theme_color {
}
.dropdown-default {
    width: 100%;
    background: white;
    text-decoration: none;
    border: none;
    border: 1px solid #aeadad;
    min-width: 140px;
    height: 25px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.login-form-container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.create_input {
    max-width: 308px;
}
.btn-default-gray {
    background: #dddddd;
    font-weight: 500;

}
.credential_recovery_row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.recovery_form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.account_title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.logo_container {
    padding-bottom: 20px;
}
.top-nav {
    background: white;
}

div.classicScrollBar {
	max-height: 300px;
}

div.classicScrollBar::-webkit-scrollbar {
	width: 1em;
}

div.classicScrollBar::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div.classicScrollBar::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}