@charset "utf-8";
/* CSS Document */

.hvac_chart {
}

.hvac_chart img {
	max-width: 100%;
}

td.timewarning {
	background: #FCC;
	color: #c80202;
}

td.capacity {
	background: #F99;
	color: #c80202;
}

td.a-center {
	text-align: center;
}

tr.detailEx {
}

table.jambo_table tbody tr.detailEx:hover td {
	background:rgba(38,185,154,0.00)	
}

/* *********  Network Status  **************************** */
.ns-overview {
  margin: 0 -10px 20px;
  overflow: hidden; }

.ns-overview-list {
  padding-left: 0;
  list-style: none; }

.ns-overview li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff; }

.ns-overview .overview {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px; }

.ns-overview .overview-class {
  display: block;
  text-align: center;
  word-wrap: break-word; }
  
.ns-overview .good li {
  color: #fff;
  background-color: #1ABB9C; }
  
.ns-overview .warning li {
  color: #fff;
  background-color: #c80202; }

.ns-overview li:hover {
  color: #fff;
  background-color: #1ABB9C; }

@media (min-width: 768px) {
  .ns-overview {
    margin-right: 0;
    margin-left: 0; }

  .ns-overview li {
    width: 12.5%;
    font-size: 12px; } }
/* *********  /Network Status  **************************** */


.tile-status {
  position: relative;
  display: block;
  margin-bottom: 12px;
  border: 1px solid #cecece;
  -webkit-border-radius: 5px;
  overflow: hidden;
  padding-bottom: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  transition: all 300ms ease-in-out; }
  
.status-ok {
  /*background: #1ABB9C;*/
  background: #3cb54d;
}

.status-warning {
  background: #c80202;
}

.tile-status .icon {
  width: 20px;
  height: 20px;
  color: #fff;
  position: absolute;
  right: 33px;
  top: 10px;
  z-index: 1; }
  
.tile-status .icon i {
  margin: 0;
  font-size: 40px;
  line-height: 0;
  vertical-align: bottom;
  padding: 0; }

.tile-status .count {
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.65857; }

.tile-status .count, .tile-status h3, .tile-status p {
  color: #fff;
  position: relative;
  margin: 0;
  margin-left: 10px;
  z-index: 5;
  padding: 0; }
  
.tile-status h3 {
  font-size: 1.4em;
  color: #fff; }

.tile-status p {
  margin-top: 5px;
  font-size: 12px; }

/* this has been added */

#calendar th {
	text-align:center;
}

#calendar td {
	background-clip: padding-box; 
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
    border: 1.5px solid #fff;
	text-align:center;
	width: 8.33%;
	margin: 3px 2px 2px 2px;
}​

table td.day {
	text-align:center;
	background: #a7d99f;
	color: #333;
}

/*table td.highlighted {
	background: #ebebeb;
	color: #333;
}*/

.pendingEditList svg {
    width:17px;
    height:19px;
}

.pendingScheduleList svg {
	width: 15px;
	height: 15px;
}


.pendingEditIcon svg {
    width:23px;
    height:23px;
    float:right;
}

.pendingEditIconLeft svg {
    width:23px;
    height:23px;
     fill:gray;
}

.pendingEditList svg, .pendingEditIcon svg {
    fill: orangered;
}

.pendingScheduleList svg {
	fill: grey;
}

.hidePendingIcon {
	display: none;
}

.showPendingIcon {
    display:block;
}