



/*-------------------------------
    Locations BreadCrumbs
    --------------------------------
*/

.lbc-top-bar {
 /*   margin-top: 20px;*/
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.lbc-shadow {
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
    display: flex;
    border-radius: 5px;
}

.location-icon {
    background-color: white;
    position: relative;
    padding: 5px 0 5px 4px;
    border-radius: 4px 0 0 4px;
}

    .location-icon svg {
        fill: var(--primary-color);
    }


.locate-breadcrumbs {
    background: white;
    width: fit-content;
    padding: 5px 8px;
    font-size: .9rem;
    font-family: segoe UI;
    font-weight: 500;
    color: #515356;
    display: flex;
    height:34px;
    overflow:hidden
}

    .locate-breadcrumbs > a:hover {
        color: var(--prime-btn-color);
        transform: scale(1.01);
    }

.lbc-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .lbc-arrow svg {
        width: 20px;
        height: 20px;
        //margin: 0 -5px 0 0;
    }

.locate-name {
    word-break: break-word;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
  
}
/*
        Bread Crumb > or |
  -===============
*/
.crumb-continue {
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid white;
    z-index: 2;
}

.crumb-end {
    width: 3px;
    height: auto;
    background-color: var(--primary-color);
    border-radius: 0 2px 2px 0;
    z-index: 3;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*-------------------------------------------------
    DashBoard Location top-card status
    -------------------------------------------------*/
.top-location-container {
    display:flex;
}
.dashboardCard__icon {
    display: flex;
 /*   width: 60px;*/

    align-items: flex-start;
}
.dashboardCard__icon svg {
    width:50px;  
}

/*.dashboardCard__icon svg,  path {
    width:56px;
    transition: width 2s ease-in;
}*/
    .dashboardCard__icon svg {
        width: 56px;
        transition: width 2s ease-in;
    }

.dashboardCard__title__number {
    color: white;
    font-family: calibri;
    font-weight: bold;
    font-size: 1.2rem;
}
.db-sensor {
    margin: 8px 3px 0px 3px;
}
    .db-sensor svg {
        fill: white;
        width: 30px;
        height: 30px;
    }
   
/*
.top-location-card {
    display: flex;
    width: 100%;
    border-radius: 10px;
    width: clamp(100px, 17vw, 253px);
    padding: 8px;
    min-height: 89px;
    box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
}*/



.top-location-card {
    position:relative;
    display: flex;
    width: 100%;
    border-radius: 10px;
    width: clamp(100px, 17vw, 253px);
    padding: 8px;
    min-height: 89px;
    box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
}
.top-location-card::after {
    content:'';
    display:block;
    padding-bottom: 40%;
}
/*.dbCard_title {
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
    left: 10%;
    color: white;
    font-weight: bold;
}*/



.dbCard_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-left:10px;
}
.top-location-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform:scale(1.01);
}
.db-home-0 {
    background-color: #0067ab;
    background-image: linear-gradient(#0067ab, #00000055);
}
.db-home-1 {
    background-color: #DC4146;
    background-image: linear-gradient(#DC4146, #00000055);
}

.db-0 {
    background-color: #77AB3B;
    background-image: linear-gradient(#77AB3B, #00000055);
}

.db-1 {
    background-color: #2699FB;
    background-image: linear-gradient(#2699FB, #00000055);
}

.db-2 {
    background-color: #DC4146;
    background-image: linear-gradient(#DC4146, #00000055);
}

.db-3 {
    background-color: #E6CE00;
    background-image: linear-gradient(#E6CE00, #00000055);
}

.db-4 {
    background-color: #515356;
    background-image: linear-gradient(#515356, #00000055);
}



 
/*----------------------------
         location container
    ---------------------------
*/
.icon-header {
    display: flex;
}

    .icon-header svg {
        fill: var(--primary-color);
        width: 30px;
        height: 40px;
        margin-right: 10px;
    }

.endline {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.locate-refresh {
    display: flex;
    margin: 10px;
}

.location-top-header {
    display: flex;
    align-items: center;
    width: 100%;
}

/*Top Level Location Cards*/

.corp-card {
    position: relative;
    display: flex;
    width: 21rem;
    height: auto;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 18%);
    background: var(--card-background-color);
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    margin: 0.5rem;
    padding: 0.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: 0.2px solid #7070701f;
}
.corp-status {
    height: 100%;
    display: flex;
    position: relative;
    width: 16px;
    min-width:1rem;
    margin-left: 1px;
    border-radius: 5px 0 0 5px;
}


.corp-top-title {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    font-weight:bold;
}
.corp-grid-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    gap: 7px;
    width:inherit;
    max-height:58px;
}
.corp-box {
    line-height: 0;
    background: white;
    box-shadow: rgb(50 50 93 / 19%) 0px 6px 12px -2px, rgb(0 0 0 / 25%) 0px 3px 7px -3px;
    border-radius: 5px;
    margin: 14px 0;
    position: relative;
}
.corp-box-fav {
    line-height: 0;
    background: white;
    box-shadow: rgb(50 50 93 / 19%) 0px 6px 12px -2px, rgb(0 0 0 / 25%) 0px 3px 7px -3px;
    border-radius: 5px;
    margin: 8px 0;
}
    .corp-box-fav::after {
        content: '';
        display: block;
        padding-bottom: 70%
    }
    .corp-box::after {
        content: '';
        display: block;
        padding-bottom: 70%
    }
.corp-alert{
    position:relative;

}
.corp-alert-fav {
    position: relative;
}
    .corp-alert-fav > svg {
        position: absolute;
        bottom: 65%;
        left: 20%;
        height: 60%;
    }
    .corp-alert > svg {
        position: absolute;
        bottom: 65%;
        left: 28%;
        height: 60%;
    }
.db-number {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
}
/*Leaf Card*/
.corp-circle {
    width: 70%;
    position: relative;
    background: white;
 /*   box-shadow: rgb(50 50 93 / 19%) 0px 6px 12px -2px, rgb(0 0 0 / 25%) 0px 3px 7px -3px;*/
    border-radius: 50%;
    margin: 10px 0;
    line-height: 0;
    margin-top: 21px;
    justify-self: center;
    border: 2px solid #8080807d;
}
.corp-circle-fav {
    position: relative;
    background: white;
    border-radius: 50%;
    margin: 12px 0;
    line-height: 0;
    margin-top: 11px;
    justify-self: center;
    border: 2px solid #8080807d;
    background: white;
   
}
    .corp-circle-fav::after {
        content: "";
        display: block;
        padding-bottom: 100%
    }
    .corp-circle-fav svg {
        width: 100%;
        height: 65%;
        position: absolute;
        bottom: 100%;
    }


 .corp-circle::after {
    content:"";
    display:block;
    padding-bottom:100%
}

 .corp-circle svg {
        width: 100%;
        height: 65%;
        position: absolute;
        bottom: 100%;
    }
.db-leaf-number {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
}
.corp-circle:hover {
/*    transform: scale(1.02);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;*/
}

/*NEW LOCATION*/

.newlocation-top {
   
    display:flex;
    align-items:end;
}
.newlocation-top >svg {
    fill:var(--options-icon-color);
}
.search-account {
 /*   max-width: 218px;
    box-shadow: rgb(50 50 93 / 19%) 0px 6px 12px -2px, rgb(0 0 0 / 25%) 0px 3px 7px -3px;
    border-radius: 15px;
    background-color: #F6F6F6;
    border: .2px solid #dbdada;*/ 
 position:relative;
 display:flex;
 height:34px;
}
.search-input {
    box-shadow: rgb(50 50 93 / 19%) 0px 6px 12px -2px, rgb(0 0 0 / 25%) 0px 3px 7px -3px;
    border-radius: 5px 0 0 5px;
    background-color: #F6F6F6;
    border: 1px solid #70707024;
}
.search-location-icon {
    border-radius: 0 5px 5px 0!important;
    box-shadow: rgb(50 50 93 / 19%) 0px 6px 12px -2px, rgb(0 0 0 / 25%) 0px 3px 7px -3px!important;
    display:flex;
    justify-content:center;
    align-items:center;
} 
.locate-p1 {
    display:flex;
    margin:15px;
}
.tag-name-locate {
    font-weight:600;
 
}
.locate-input-box {
    margin: 0 20%;
    background: #F6F6F6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    max-width:250px;
}
.create_input {
    margin:0 2rem ;
}
.select-location-time {
    max-width:372px;
    margin:10px;
}
.nextCancel {
    display:flex;
    width:100%;
    justify-content:space-between;
    margin-top:.5rem;
}
.locate-box-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.gw-top-icon {
    display:flex;
    flex-direction:column; 
    align-items:center;
    justify-content:center;
    margin-left:5px;
}
.corp-danger {
    background: #ff3b00;
}
.corp-good {
    background: #57ab0a;
}
.corp-warn {
    background: #E6CE00;
}
.corp-off {
    background: #747474;
}
.holdico > svg {
    width:35px;
    margin-left:.4rem;
}

.holdico >#db-wifi-off {
    width:29px;
/*    margin-left:.4rem;*/
}
/*#db-wifi-on {
    width: 30px;
    margin-left: .4rem;
}*/

.corp-status[title]:hover {
    color:red;
}




/*NEW TITLES*/

/*[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    left: 100%;
    padding: 4px 4px 4px 8px;
    color: #222;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}*/

    @media (max-width:850px ) {
        .location-top-header {
            display: inline-block;
        }

        .icon-header {
            margin-bottom: 10px;
        }

        .add-location {
            transform: scale(.8);
            transition: transform 1s ease-in-out;
        }
    }
    @media (max-width:380px){
        .glance-text > .glance-name {
            font-size: 12px;
        }
    }
    @media (max-width:426px ) {
        .endline {
            justify-content: flex-start;
            gap: 5px;
        }

    }
    @media(max-width:1200px){
   
        .dashboardCard__icon svg, path {
            width:40px;
        }
    }
    @media(max-width:850px){
        .top-location-card {
            width: clamp(99px, 23vw, 253px);
            flex-direction:column;   
        }
        .top-location-card::after{
            display:none;
        }
      
        .dashboardCard__title__type > svg {
            display:none;
        }
        .dbCard_title {
   /*         margin-top:10px;*/
            height:100%;
        }
     
    }
    @media(max-width:500px){
        .top-location-card {
            box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 10%) -6px -2px 16px 0px;
        }
        .dashboardCard__title__number {
            font-size: 1rem;
        }

        .dashboardCard_row {
            gap: .3rem;
        }
        .dashboardCard__title__type {
            font-size: 12px !important;
            margin-left:0px;
        }
        .dashboardCard__icon {
            justify-content:center; 
        }
    }